<!DOCTYPE html>
<html>
  <head>
    <title>Organic Molecules</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://websiteproject.tacogguk.repl.co/static/banner.jpg" style="border: 2px solid black; padding-bottom:0; margin-bottom: 0;" >
    <div class="container-fluid" style="padding-top: 15px; background-color: #bbbefe; padding-bottom: 15px; border-left: 2px solid black; border-right: 2px solid black;border-bottom: 2px solid black;">
      <h1 style="font-weight: bold"; class="text-center mt-2 mb-4">
        My Favorite Organic Molecules
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div>
      <p class="lead" style="margin:0 auto;text-align: center; font-weight: semi-bold; width: 70%;" >
        Organic molecules are molecules that are made of carbon and hydrogen, and can include other elements such as nitrogen, sulfur, phosphorus etc. Carbon must be covalently bound to hydrogen in these compounds. Carbon's ability to catenate (form carbon-carbon bonds) leads to the formation of millions of organic compounds. In most organic compounds, multiple carbon atoms are covalently bound to each other in a chain with hydrogen (and other elements) attached to this chain. Some groups of organic molecules include alcohols, carboxylic acids, ketones, aldehydes, esters etc. Here are some of my favorites!
      </p>
        </div>
      </div>
    </div>
    {% include 'molecules.html' %}      
    {% include 'footer.html' %}
  </body>
</html>
