<!DOCTYPE html>
<html>
  <head>
    <title>Organic Molecules</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    {% include "nav_diff.html" %}
<br>
    <br>
    <br>
    <br>
    <br>
<div class="container">
  <div class="row" >
    <div class="col" >
{% for image in img %}
    {% if job['id'] == image['id'] %}
            <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image['link']}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text" style="text-align center; font-weight: bold;">{{job['title']}}</p>
  </div>
</div>
    {% endif %}
      {% endfor %}
      
  </div>

    
    <div class="col" >
      
      <ul>
        <li><b>Name:</b> {{job['title']}}</li>
        <li><b>Functional Groups: </b>
 {{job['functional_groups']}}</li>
        <li><b>Family:</b> {{job['family']}}</li>
        <li><b>Description:</b>{{job['descr']}}</li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>