<!DOCTYPE html>
<html>
  <head>
    <title>Organic Molecules</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color: #d099e2;">
    {% include "nav_diff.html" %}
<br>
    <br>
    <br>
    <br>
    <br>
<div class="container">
  <div class="row" >
    <div class="col" >
{% for image in img %}
    {% if molecule['id'] == image['id'] %}
            <div class="card" style="width: 18rem; border: 2px solid black; background-color: #f2a5e8">
  <img class="card-img-top" src="{{image['link']}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text" style="text-align: center; font-weight: bold;">{{molecule['title']}}</p>
  </div>
</div>
    {% endif %}
      {% endfor %}
      
  </div>

    
    <div class="col" style="background-color: #e8bffb; border: 2px solid black;" >
      <br>
      <ul>
        <li><b>Name:</b> {{molecule['title']}}</li>
        <br>
        <li><b>Functional Groups: </b>
 {{molecule['functional_groups']}}</li>
        <br>
        <li><b>Family:</b> {{molecule['family']}}</li>
        <br>
        <li><b>Description:</b> {{molecule['descr']}}</li>
        <br>
      </ul>
    </div>
  </div>
  <br>
      <br>
      <br>
</div>
    
    <div style="background-color: #f2a5e8; border-top: 2px solid black; border-bottom: 2px solid black;">
      <br>
      <br>
      <p style="font-weight: bold; text-align: center;">Contact Me</p>
    {% include 'footer.html' %}
    </div>
  </body>
</html>